.node {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__edit-button-container {
    margin-left: 10px;
  }

  &__failed-icon {
    margin-right: 5px;
    color: crimson;
  }
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    text-decoration: underline;
  }
}
