<div class="layout" [ngClass]="themeClass$ | async">
  <app-toolbar
    class="layout__toolbar"
    [tabs]="toolbarTabs"
    [activeTab]="activeTab"
    [showTabs]="showToolbarTabs"
    [showBurger]="true"
    [showAddMenu]="true"
    [user]="user"
    (menuButtonClick)="drawer.toggle()"></app-toolbar>

  <mat-drawer-container class="layout__drawer-container" autosize>
    <mat-drawer
      class="layout__sidenav"
      [ngClass]="sidenavFullsize ? 'fullsize' : ''"
      (openedStart)="onDrawerOpenedStart()"
      (closedStart)="onDrawerClosedStart()"
      #drawer
      mode="side"
      opened="true">
      <nav
        class="layout__sidenav-options"
        [ngStyle]="{
          opacity: isContentHidden ? '0' : '1',
          visibility: isContentHidden ? 'hidden' : 'visible',
          transition: 'opacity 0.1s linear'
        }">
        <a *ngIf="addButtonPath" routerLink="{{ addButtonPath }}">
          <button
            mat-raised-button
            class="layout__sidenav-add-button"
            color="primary">
            {{ 'sidenav.add_button' | translate | uppercase }}
          </button>
        </a>
        <ng-container *ngFor="let option of sidenavOptions">
          <a
            class="layout__sidenav-option"
            mat-flat-button
            *ngIf="!isSidenavOptionHidden(option)"
            color="{{ option === activeOption ? 'primary' : '' }}"
            [ngStyle]="{
              'pointer-events': option === activeOption ? 'none' : 'auto'
            }"
            routerLink="{{ option.path }}">
            <mat-icon class="layout__sidenav-option-icon">launch</mat-icon>
            <span class="layout__sidenav-option-text">
              {{ option.title | translate }}
            </span>
          </a>
        </ng-container>
      </nav>
    </mat-drawer>

    <mat-drawer-content
      class="layout__content"
      [ngStyle]="{
        height: contentHeightPixels + 'px',
        opacity: isContentHidden ? '0' : '1',
        visibility: isContentHidden ? 'hidden' : 'visible',
        transition: 'opacity 0.1s linear'
      }">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
