<app-toolbar class="toolbar" (menuButtonClick)="drawer.toggle()"></app-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <nav class="sidenav">
      <a routerLink="/specializations">
        <button mat-raised-button class="sidenav__add-button" color="primary">
          {{ 'sidenav.add_button' | translate | uppercase }}
        </button>
      </a>
      <a
        class="sidenav__button"
        mat-flat-button
        *ngFor="let option of options"
        color="{{ option.isActive ? 'primary' : '' }}"
        routerLink="{{ option.path }}">
        <mat-icon class="sidenav__button-icon">launch</mat-icon>
        <span class="sidenav__button-text">{{ option.title }}</span>
      </a>
    </nav>
  </mat-drawer>

  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
