<div class="table">
  <table mat-table [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'users.roles.list.columns.id' | translate }}
      </th>
      <td mat-cell *matCellDef="let role" [ngStyle]="getTableCellStyle()">
        <a
          *ngIf="canUserModifyRole; else idNoLink"
          (click)="openRoleEditDialog(role)">
          {{ role.id }}
        </a>
        <ng-template #idNoLink>
          <span>{{ role.id }}</span>
        </ng-template>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'users.roles.list.columns.name' | translate }}
      </th>
      <td mat-cell *matCellDef="let role" [ngStyle]="getTableCellStyle()">
        {{ role.name }}
      </td>
    </ng-container>

    <!-- Permission Ids Column -->
    <ng-container matColumnDef="permissionIds">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'users.roles.list.columns.permission_ids' | translate }}
      </th>
      <td mat-cell *matCellDef="let role" [ngStyle]="getTableCellStyle()">
        <div class="table__role-scopes-container">
          <ng-container *ngFor="let scope of getRolePermissions(role) | async">
            <span
              class="table__role-scope-title"
              matBadge="{{ scope.actions.length }}"
              matBadgeColor="accent"
              matTooltip="{{
                getPermissionActionsNames(scope.actions)
                  | join : ', '
                  | uppercase
              }}">
              {{ scope.scope | uppercase }}
            </span>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <!-- Operations Column -->
    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'users.roles.list.columns.operations' | translate }}
      </th>
      <td mat-cell *matCellDef="let role" [ngStyle]="getTableCellStyle()">
        <div class="table__operation-buttons-container">
          <div
            class="table__operation-button-container"
            *ngIf="canUserModifyRole"
            matTooltip="{{
              ('users.roles.list.operation_tooltips.edit' | translate) +
                ' \'' +
                role.name +
                '\''
            }}">
            <button
              class="table__edit-button"
              mat-icon-button
              (click)="openRoleEditDialog(role)"
              color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div
            class="table__operation-button-container"
            matTooltip="{{
              ('users.roles.list.operation_tooltips.copy' | translate) +
                ' \'' +
                role.name +
                '\''
            }}">
            <button
              class="table__copy-button"
              *ngIf="canUserCreateRole"
              mat-icon-button
              (click)="openRoleEditDialog(role, true)"
              color="primary">
              <mat-icon>filter_none</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      class="table__column-header"
      *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let role; columns: displayedColumns"></tr>
  </table>

  <div class="table__loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div
    class="table__no-data-label"
    *ngIf="!isLoading && (!dataSource || dataSource.length === 0)">
    <p>{{ 'users.roles.list.no_data_label' | translate }}</p>
  </div>
</div>
