.mat-accordion {
  .mat-expansion-panel {
    box-shadow: none;
    border-radius: 28px;
  }
}

.opened {
  background-color: rgba(0, 0, 0, 0.06);
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.extansion-panel {
  &__header-title {
    white-space: nowrap;
  }

  &__progress-bar {
    margin-left: 30px;
  }

  &__row {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 14px;
  }

  &__row-value {
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.54);
  }

  &__failed-icon {
    margin-right: 5px;
    color: crimson;
  }
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    text-decoration: underline;
  }
}
