<mat-accordion [hideToggle]="specializationNode.isLoading">
  <mat-expansion-panel
    class="extansion-panel"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    [ngClass]="{ opened: panelOpenState }">
    <mat-expansion-panel-header class="extansion-panel__header">
      <mat-progress-bar
        *ngIf="specializationNode.isLoading"
        mode="indeterminate"
        class="extansion-panel__progress-bar"></mat-progress-bar>
      <ng-container *ngIf="!specializationNode.isLoading">
        <mat-panel-title class="extansion-panel__header-title">
          <a [routerLink]="linkToForm">{{
            specializationNode.specialization.name
          }}</a>
        </mat-panel-title>
        <mat-panel-description
          class="extansion-panel__header-description"
          *ngIf="!panelOpenState">
          {{ specializationNode.specialization.cipher }}
        </mat-panel-description>
      </ng-container>
    </mat-expansion-panel-header>
    <p class="extansion-panel__row">
      <span class="extansion-panel__row-title">Короткое название:</span>
      <span class="extansion-panel__row-value">{{
        specializationNode.specialization.shortName
      }}</span>
    </p>
    <p class="extansion-panel__row">
      <span class="extansion-panel__row-title">Шифр:</span>
      <span class="extansion-panel__row-value">{{
        specializationNode.specialization.cipher
      }}</span>
    </p>
  </mat-expansion-panel>
</mat-accordion>
