<mat-select
  class="select"
  [formControl]="selectControl"
  (openedChange)="filterInput.focus()"
  (selectionChange)="onSelectionChange()"
  [multiple]="multiple">
  <mat-form-field
    class="form__field"
    subscriptSizing="dynamic"
    appearance="fill"
    color="primary">
    <input
      class="select__search-input"
      #filterInput
      [formControl]="filterControl"
      matInput
      [placeholder]="'filtered_select.placeholder' | translate" />
  </mat-form-field>

  <div *ngIf="multiple" class="select-all">
    <mat-checkbox
      class="form__select-all-checkbox"
      [checked]="allOptionsSelected"
      [indeterminate]="!noneOptionsSelected && !allOptionsSelected"
      (change)="selectAllOptions($event.checked)">
      {{
        (allOptionsSelected
          ? 'filtered_select.checkbox_unselect_all'
          : 'filtered_select.checkbox_select_all'
        ) | translate
      }}
    </mat-checkbox>
  </div>

  <div class="select__options-container">
    <mat-option class="select__option" *ngIf="!multiple"> -- </mat-option>
    <mat-option
      class="select__option"
      *ngFor="let option of filteredSelectOptions"
      [value]="option.value">
      {{ option.name }}
    </mat-option>
  </div>
</mat-select>
