<form
  class="form"
  *ngIf="editMode ? canUserGetDiscipline : true; else noPermission"
  #form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()">
  <div
    class="form__container"
    [ngStyle]="{ width: formContainerWidthPercents + '%' }">
    <h3 class="form__title">
      {{
        editMode
          ? (('disciplines.form.edit_title' | translate) + name | uppercase)
          : ('disciplines.form.add_title' | translate | uppercase)
      }}
    </h3>

    <mat-form-field class="form__field" appearance="outline" color="primary">
      <mat-label class="form__label">
        {{ 'disciplines.form.name_label' | translate }}
      </mat-label>
      <input class="form__input" matInput formControlName="name" />
      <mat-error class="form__error-message">
        {{ 'disciplines.form.name_error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__field" appearance="outline" color="primary">
      <mat-label class="form__label">
        {{ 'disciplines.form.short_name_label' | translate }}
      </mat-label>
      <input class="form__input" matInput formControlName="shortName" />
      <mat-error class="form__error-message">
        {{ 'disciplines.form.short_name_error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="form__field"
      appearance="outline"
      color="primary"
      *ngIf="editMode ? canUserModifyDiscipline : canUserCreateDiscipline"
      floatLabel="always">
      <mat-label class="form__label">
        {{ 'disciplines.form.categories_label' | translate }}
      </mat-label>
      <app-list-management
        class="form__list-management"
        [options]="categoriesOptions || []"
        [isInternalFilterOn]="false"
        (filterChanged)="updateCategoriesOptions($event)"
        formControlName="categories"></app-list-management>
    </mat-form-field>

    <div class="form__buttons">
      <ng-container *ngIf="!editMode; else editButton">
        <button
          class="form__add-button"
          mat-flat-button
          color="primary"
          [disabled]="
            !canUserCreateDiscipline || formGroup.disabled || !formGroup.valid
          ">
          {{ 'disciplines.form.add_button' | translate }}
        </button>
      </ng-container>
      <ng-template #editButton>
        <button
          class="form__edit-button"
          mat-flat-button
          color="primary"
          [disabled]="
            !canUserModifyDiscipline || formGroup.disabled || !formGroup.valid
          ">
          {{ 'disciplines.form.edit_button' | translate }}
        </button>
      </ng-template>

      <button
        #deleteButton
        class="form__delete-button"
        mat-flat-button
        #deleteTooltip="matTooltip"
        matTooltip="{{ 'disciplines.form.delete_button_tooltip' | translate }}"
        matTooltipPosition="right"
        [matTooltipDisabled]="isDeleteTooltipDisabled"
        type="button"
        color="warn"
        *ngIf="editMode && canUserDeleteDiscipline"
        (click)="onDelete()">
        {{ 'disciplines.form.delete_button' | translate }}
      </button>

      <a [routerLink]="getLinkToSearchPage()">
        <button
          class="form__cancel-button"
          mat-flat-button
          color="secondary"
          type="button"
          [disabled]="formGroup.disabled">
          {{ 'disciplines.form.cancel_button' | translate }}
        </button>
      </a>
    </div>
  </div>
</form>

<ng-template #noPermission>
  <div class="form__no-permission">
    <mat-icon class="form__no-permission-icon">error_outline</mat-icon>
    {{ 'disciplines.list.no_permission_label' | translate }}
  </div>
</ng-template>
