.hidden-mat-paginator {
  display: none;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: fit-content;
  min-width: 620px;
  background-color: white;

  &__index-button,
  &__arrow-button {
    $button-size: 42px;
    min-width: $button-size;
    max-width: $button-size;
    min-height: $button-size;
    max-height: $button-size;
  }

  &__index-button {
    margin-left: 5px;
    margin-right: 5px;
  }
}
