mat-paginator {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: fit-content;
  min-width: 620px;
  background-color: white;

  $button-size: 42px;

  button {
    min-width: $button-size;
    max-width: $button-size;
    min-height: $button-size;
    max-height: $button-size;
  }

  > {
    .page-indexes > button {
      margin-left: 5px;
      margin-right: 5px;
    }
    button {
      margin-left: 56px;
      margin-right: 56px;
    }
  }
}
