<button mat-icon-button
  [matMenuTriggerFor]="menu" 
  (menuOpened)="rotate = true" 
  (menuClosed)="rotate = false">
  <mat-icon class="settings-icon" [class.rotate]="rotate">settings</mat-icon>
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item [matMenuTriggerFor]="lang">Language ({{ currentLanguage }})</button>
</mat-menu>

<mat-menu #lang="matMenu" xPosition="before">
  <button mat-menu-item (click)="language = languages.Ru">🇷🇺 Русский</button>
  <button mat-menu-item (click)="language = languages.En">🇺🇸 English</button>
</mat-menu>
