<div class="table">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onSortChange($event)">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td
        mat-cell
        *matCellDef="let discipline"
        [ngStyle]="{
          opacity: isLoading ? '0' : '1',
          visibility: isLoading ? 'hidden' : 'visible',
          transition: 'opacity 0.1s linear'
        }">
        <a [routerLink]="getLinkToFormPage(discipline)">
          {{ discipline.name }}
        </a>
      </td>
    </ng-container>

    <!-- Short name Column -->
    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Short name</th>
      <td mat-cell *matCellDef="let discipline" [ngStyle]="getTableCellStyle()">
        {{ discipline.shortName }}
      </td>
    </ng-container>

    <!-- Categories Column -->
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef>Categories</th>
      <td mat-cell *matCellDef="let discipline" [ngStyle]="getTableCellStyle()">
        {{ discipline.categories }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let discipline; columns: displayedColumns"></tr>
  </table>

  <div class="table__loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
