<div class="d-flex flex-column">
  <h3 class="text-center">Войти</h3>

  <mat-card class="auth-form-card mb-3">
    <form class="d-flex flex-column">
      <mat-form-field appearance="standard" color="primary">
        <mat-label>Логин</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="standard" color="primary">
        <mat-label>Пароль</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button type="button" 
         tabindex="-1"
         mat-icon-button matSuffix (click)="hide = !hide" 
         [attr.aria-label]="'Hide password'" 
         [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field> 
      <button mat-flat-button color="primary">Войти</button>
    </form>
  </mat-card>
  
  <mat-card class="register-callout-card">
    <p class="text-center">Нет аккаунта? <a href="#">Зарегистрируйся</a> .</p>
  </mat-card>
</div>