<div class="list">
  <div class="list__create-button-container">
    <button
      class="list__create-button"
      mat-flat-button
      color="primary"
      (click)="openUserCreateDialog()">
      <mat-icon>person_add</mat-icon>
      {{ 'users.list.create_button' | translate }}
    </button>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSearch()">
    <div class="list__search-container">
      <mat-form-field class="list__search" appearance="outline">
        <input
          placeholder="{{ 'users.list.search.placeholder' | translate }}"
          matInput
          formControlName="searchQuery" />
        <button *ngIf="searchQuery" matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>

  <div
    class="list__content-container"
    *ngIf="arePermissionsPresent; else noPermission">
    <div class="list__table-and-paginator-container">
      <div class="list__table-container">
        <app-user-table
          class="list__table"
          [pageSize]="pageSize"
          [pageNumber]="pageNumber"
          (dataUpdated)="onDataUpdate($event)"
          (sortChanged)="onSortChange()">
        </app-user-table>
      </div>

      <div class="list__paginator-container">
        <app-paginator
          class="list__paginator"
          [length]="totalElements"
          [pageSize]="pageSize"
          [pageIndex]="pageNumber"
          (page)="onPageChange($event)"></app-paginator>
      </div>
    </div>
  </div>

  <ng-template #noPermission>
    <div class="list__no-permission">
      <mat-icon class="list__no-permission-icon">error_outline</mat-icon>
      {{ 'disciplines.list.no_permission_label' | translate }}
    </div>
  </ng-template>
</div>
