<div class="min-vh-100 d-flex flex-column justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-10">
        <h1 class="text-center title">404 {{ 'ErrorPage404.NotFound' | translate }}</h1>
        <p class="text-center text">{{ 'ErrorPage404.GoToMainPage' | translate }} <a href="#">{{ 'ErrorPage404.Link' | translate }}</a>.</p>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <app-menu class="position-absolute top-0 end-0 m-2"></app-menu>
</div>