.header {
  display: flex;
  align-items: center;
  padding: 0.5em;

  &__label {
    flex: 1;
    height: 1em;
    text-align: center;
  }

  &__previous-button,
  &__next-button {
    width: 40px;
    height: 40px;

    &-content::after {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: 15.5px;
      border: 0 solid rgba(0, 0, 0, 0.54);
      border-top-width: 2px;
      border-right-width: 2px;
    }
  }

  &__previous-button-content::after {
    transform: translateX(2px) rotate(225deg);
  }

  &__next-button-content::after {
    transform: translateX(-2px) rotate(45deg);
  }
}
