<div class="specialization-list">
  <form [formGroup]="formGroup" (ngSubmit)="onSearch()">
    <div class="specialization-list__search-container">
      <mat-form-field class="specialization-list__search" appearance="outline">
        <input
          placeholder="{{
            'specializations.list.search.placeholder' | translate
          }}"
          matInput
          formControlName="searchQuery" />
        <button *ngIf="searchQuery" matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>

  <div class="specialization-list__tree-container">
    <app-specialization-tree class="specialization-list__tree">
    </app-specialization-tree>
  </div>

  <div class="specialization-list__paginator-container">
    <app-paginator
      class="specialization-list__paginator"
      [length]="100"
      [pageSize]="10"
      [pageIndex]="6"></app-paginator>
  </div>
</div>
