<form class="form" #form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div
    class="form__container"
    [ngStyle]="{ width: formContainerWidthPercents + '%' }">
    <h3 class="form__title">
      {{ 'specializations.add_form.title' | translate | uppercase }}
    </h3>

    <mat-form-field class="form__field" appearance="outline" color="primary">
      <mat-label class="form__label">
        {{ 'specializations.add_form.name_label' | translate }}
      </mat-label>
      <input
        class="form__input"
        matInput
        formControlName="name"
        [(ngModel)]="name" />
      <mat-error class="form__error-message">
        {{ 'specializations.add_form.name_error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__field" appearance="outline" color="primary">
      <mat-label class="form__label">
        {{ 'specializations.add_form.short_name_label' | translate }}
      </mat-label>
      <input
        class="form__input"
        matInput
        formControlName="shortName"
        [(ngModel)]="shortName" />
      <mat-error class="form__error-message">
        {{ 'specializations.add_form.short_name_error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__field" appearance="outline" color="primary">
      <mat-label class="form__label">
        {{ 'specializations.add_form.cipher_label' | translate }}
      </mat-label>
      <input
        class="form__input"
        matInput
        formControlName="cipher"
        [(ngModel)]="cipher" />
      <mat-error class="form__error-message">
        {{ 'specializations.add_form.cipher_error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__field" appearance="outline" color="primary">
      <mat-label class="form__label">
        {{ 'specializations.add_form.parent_label' | translate }}
      </mat-label>
      <input
        class="form__input"
        matInput
        formControlName="parent"
        [(ngModel)]="parent" />
    </mat-form-field>

    <div class="form__buttons">
      <button
        class="form__create-button"
        mat-flat-button
        color="primary"
        [disabled]="formGroup.disabled">
        {{ 'specializations.add_form.add_button' | translate }}
      </button>
      <button
        class="form__cancel-button"
        mat-flat-button
        color="secondary"
        [disabled]="formGroup.disabled">
        {{ 'specializations.add_form.cancel_button' | translate }}
      </button>
    </div>
  </div>
</form>
