<form class="form" [formGroup]="formGroup">
  <div class="form__no-permission" *ngIf="areNotPermissionsPresent">
    <mat-icon class="form__no-permission-icon">error_outline</mat-icon>
    {{ 'users.roles.form.no_permission_label' | translate }}
  </div>

  <mat-form-field class="form__field" appearance="fill" color="primary">
    <mat-label>
      {{ 'users.roles.form.name_label' | translate }}
    </mat-label>
    <input matInput name="name" formControlName="name" />
    <mat-error>
      {{ 'users.roles.form.required' | translate }}
    </mat-error>
  </mat-form-field>
</form>
