<form class="form" [formGroup]="formGroup">
  <div class="form__no-permission" *ngIf="areNotPermissionsPresent">
    <mat-icon class="form__no-permission-icon">error_outline</mat-icon>
    {{ 'users.roles.form.no_permission_label' | translate }}
  </div>

  <mat-form-field class="form__field" appearance="fill" color="primary">
    <mat-label>
      {{ 'users.roles.form.name_label' | translate }}
    </mat-label>
    <input matInput name="name" formControlName="name" />
    <mat-error>
      {{ 'users.roles.form.required' | translate }}
    </mat-error>
  </mat-form-field>

  <ng-container
    *ngIf="
      permissionScopes && permissionScopes.length > 0;
      else noPermissionScopesLabel
    ">
    <mat-selection-list #permissionsSelect>
      <ng-container *ngFor="let permissionScope of permissionScopes">
        <div mat-subheader>
          {{ (permissionScope.scope | uppercase) + ':' }}
        </div>
        <mat-list-option
          *ngFor="let permissionAction of permissionScope.actions"
          [value]="permissionAction.id"
          [selected]="role?.permissionIds?.includes(permissionAction.id)">
          <div matListItemTitle>{{ permissionAction.name | uppercase }}</div>
        </mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
  </ng-container>

  <ng-template #noPermissionScopesLabel>
    <p
      class="form__no-permission-scopes-label"
      *ngIf="!arePermissionScopesLoading; else loading">
      {{ 'users.roles.form.no_permission_scopes_label' | translate }}
    </p>
  </ng-template>
</form>

<ng-template #loading>
  <div class="loading">
    <mat-spinner class="loading__spinner"></mat-spinner>
  </div>
</ng-template>
