<h2 mat-dialog-title>
  {{
    editMode
      ? ('users.roles.form.edit_title' | translate) + ': '
      : ('users.roles.form.create_title' | translate)
  }}
  <span class="title-name" *ngIf="editMode">
    {{ data.role?.name }}
  </span>
  <ng-container *ngIf="copyMode">
    ( {{ 'users.roles.form.copy_of' | translate }}
    <span class="title-name">
      {{ data.role?.name }}
    </span>
    )
  </ng-container>
</h2>
<mat-dialog-content class="content">
  <app-role-form
    class="content__role-form"
    [role]="data.role"
    (formInvalid)="isFormInvalid = $event"
    (roleCreatedUpdated)="onCreatedUpdated()"></app-role-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="true">
    {{ 'users.roles.form.cancel_button' | translate }}
  </button>
  <button
    mat-flat-button
    (click)="onCreateUpdateButtonClicked()"
    color="primary"
    [disabled]="isFormInvalid">
    {{
      (editMode
        ? 'users.roles.form.edit_button'
        : 'users.roles.form.create_button'
      ) | translate
    }}
  </button>
</mat-dialog-actions>
