@use '@angular/material' as mat;

@use '../colors/basic' as b;
@use '../colors/shamrock' as c;

$light-shamrock-palette: (
  50: c.$light-shamrock-50,
  100: c.$light-shamrock-100,
  200: c.$light-shamrock-200,
  300: c.$light-shamrock-300,
  400: c.$light-shamrock-400,
  500: c.$light-shamrock-500,
  600: c.$light-shamrock-600,
  700: c.$light-shamrock-700,
  800: c.$light-shamrock-800,
  900: c.$light-shamrock-900,
  contrast: (
    50: b.$black,
    100: b.$black,
    200: b.$black,
    300: b.$black,
    400: b.$black,
    500: b.$white,
    600: b.$white,
    700: b.$white,
    800: b.$white,
    900: b.$white,
  ),
);
$dark-shamrock-palette: (
  50: c.$dark-shamrock-50,
  100: c.$dark-shamrock-100,
  200: c.$dark-shamrock-200,
  300: c.$dark-shamrock-300,
  400: c.$dark-shamrock-400,
  500: c.$dark-shamrock-600,
  600: c.$dark-shamrock-600,
  700: c.$dark-shamrock-700,
  800: c.$dark-shamrock-800,
  900: c.$dark-shamrock-900,
  contrast: (
    50: b.$black,
    100: b.$black,
    200: b.$black,
    300: b.$white,
    400: b.$white,
    500: b.$white,
    600: b.$white,
    700: b.$white,
    800: b.$white,
    900: b.$white,
  ),
);

$light-theme-primary: mat.define-palette($light-shamrock-palette, 500);
$light-theme-accent: mat.define-palette($dark-shamrock-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-theme-primary,
      accent: $light-theme-accent,
    ),
  )
);
