@use '@angular/material' as mat;

@use '../colors/basic' as b;
@use '../colors/discipline' as c;

$light-purple-palette: (
  50: c.$light-purple-50,
  100: c.$light-purple-100,
  200: c.$light-purple-200,
  300: c.$light-purple-300,
  400: c.$light-purple-400,
  500: c.$light-purple-500,
  600: c.$light-purple-600,
  700: c.$light-purple-700,
  800: c.$light-purple-800,
  900: c.$light-purple-900,
  contrast: (
    50: b.$black,
    100: b.$black,
    200: b.$black,
    300: b.$black,
    400: b.$black,
    500: b.$black,
    600: b.$black,
    700: b.$black,
    800: b.$black,
    900: b.$black,
  ),
);
$dark-purple-palette: (
  50: c.$dark-purple-50,
  100: c.$dark-purple-100,
  200: c.$dark-purple-200,
  300: c.$dark-purple-300,
  400: c.$dark-purple-400,
  500: c.$dark-purple-600,
  600: c.$dark-purple-600,
  700: c.$dark-purple-700,
  800: c.$dark-purple-800,
  900: c.$dark-purple-900,
  contrast: (
    50: b.$black,
    100: b.$black,
    200: b.$black,
    300: b.$white,
    400: b.$white,
    500: b.$white,
    600: b.$white,
    700: b.$white,
    800: b.$white,
    900: b.$white,
  ),
);

$light-theme-primary: mat.define-palette($light-purple-palette, 900);
$light-theme-accent: mat.define-palette($dark-purple-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-theme-primary,
      accent: $light-theme-accent,
    ),
  )
);
