@use '@angular/material' as mat;

@use '../colors/basic' as b;
@use '../colors/crimson' as c;

$light-crimson-palette: (
  50: c.$light-crimson-50,
  100: c.$light-crimson-100,
  200: c.$light-crimson-200,
  300: c.$light-crimson-300,
  400: c.$light-crimson-400,
  500: c.$light-crimson-500,
  600: c.$light-crimson-600,
  700: c.$light-crimson-700,
  800: c.$light-crimson-800,
  900: c.$light-crimson-900,
  contrast: (
    50: b.$black,
    100: b.$black,
    200: b.$black,
    300: b.$black,
    400: b.$black,
    500: b.$black,
    600: b.$black,
    700: b.$black,
    800: b.$black,
    900: b.$black,
  ),
);
$dark-crimson-palette: (
  50: c.$dark-crimson-50,
  100: c.$dark-crimson-100,
  200: c.$dark-crimson-200,
  300: c.$dark-crimson-300,
  400: c.$dark-crimson-400,
  500: c.$dark-crimson-600,
  600: c.$dark-crimson-600,
  700: c.$dark-crimson-700,
  800: c.$dark-crimson-800,
  900: c.$dark-crimson-900,
  contrast: (
    50: b.$black,
    100: b.$black,
    200: b.$black,
    300: b.$white,
    400: b.$white,
    500: b.$white,
    600: b.$white,
    700: b.$white,
    800: b.$white,
    900: b.$white,
  ),
);

$light-theme-primary: mat.define-palette($light-crimson-palette, 500);
$light-theme-accent: mat.define-palette($dark-crimson-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-theme-primary,
      accent: $light-theme-accent,
    ),
  )
);
