$scrollbar-width: 8px;
$form-padding: 8px;

.form {
  min-width: calc(100% - $scrollbar-width - $form-padding);
  height: 100%;
  overflow: auto;

  padding: 0 $form-padding;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 36px;
  }

  &__field {
    margin-bottom: 16px;
  }

  &__add-button,
  &__edit-button {
    margin-right: 16px;
  }

  &__add-button,
  &__edit-button,
  &__cancel-button {
    font-weight: bolder;
  }

  &__divider {
    margin: 36px 0 12px 0;
  }

  &__discipline-table-container {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__discipline-table {
    max-height: 360px;
    overflow: auto;

    &-top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      &-title {
        margin-right: 16px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: unset;
}
