<div class="list">
  <form [formGroup]="formGroup" (ngSubmit)="onSearch()">
    <div class="list__search-container">
      <p class="list__form-section-label">
        {{ 'curricula.list.search.approval_date_section_label' | translate }}
      </p>
      <div class="list__search-group-container">
        <mat-form-field appearance="outline" class="form__field">
          <mat-label>
            {{ 'curricula.list.search.approval_date_begin' | translate }}
          </mat-label>
          <input
            class="form__input"
            matInput
            [matDatepicker]="approvalDateBegin"
            formControlName="approvalDateBegin" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="approvalDateBegin"></mat-datepicker-toggle>
          <mat-datepicker #approvalDateBegin>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>
                {{ 'curricula.form.cancel_button' | translate }}
              </button>
              <button mat-raised-button color="primary" matDatepickerApply>
                {{ 'curricula.form.apply_button' | translate }}
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <mat-icon class="list__search-period-divider">trending_flat</mat-icon>

        <mat-form-field appearance="outline" class="form__field">
          <mat-label>
            {{ 'curricula.list.search.approval_date_end' | translate }}
          </mat-label>
          <input
            class="form__input"
            matInput
            [matDatepicker]="approvalDateEnd"
            formControlName="approvalDateEnd" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="approvalDateEnd"></mat-datepicker-toggle>
          <mat-datepicker #approvalDateEnd>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>
                {{ 'curricula.form.cancel_button' | translate }}
              </button>
              <button mat-raised-button color="primary" matDatepickerApply>
                {{ 'curricula.form.apply_button' | translate }}
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <p class="list__form-section-label">
        {{ 'curricula.list.search.admission_year_section_label' | translate }}
      </p>
      <div class="list__search-group-container">
        <mat-form-field appearance="outline" class="form__field">
          <mat-label>
            {{ 'curricula.list.search.admission_year_begin' | translate }}
          </mat-label>
          <input
            class="form__input"
            matInput
            type="number"
            formControlName="admissionYearBegin" />
        </mat-form-field>

        <mat-icon class="list__search-period-divider">trending_flat</mat-icon>

        <mat-form-field appearance="outline" class="form__field">
          <mat-label>
            {{ 'curricula.list.search.admission_year_end' | translate }}
          </mat-label>
          <input
            class="form__input"
            matInput
            type="number"
            formControlName="admissionYearEnd" />
        </mat-form-field>
      </div>

      <div>
        <button matSuffix mat-flat-button color="primary">
          <mat-icon>filter_list</mat-icon>
          {{ 'curricula.list.search.filter_button' | translate }}
        </button>
      </div>
    </div>
  </form>

  <ng-container *ngIf="arePermissionsPresent; else noPermission">
    <div class="list__table-container">
      <app-curriculum-table
        class="list__table"
        [pageSize]="pageSize"
        [pageNumber]="pageNumber"
        (dataUpdated)="onDataUpdate($event)"
        (sortChanged)="onSortChange()">
      </app-curriculum-table>
    </div>

    <div class="list__paginator-container">
      <app-paginator
        class="list__paginator"
        [length]="totalElements"
        [pageSize]="pageSize"
        [pageIndex]="pageNumber"
        (page)="onPageChange($event)"></app-paginator>
    </div>
  </ng-container>
  <ng-template #noPermission>
    <div class="list__no-permission">
      <mat-icon class="list__no-permission-icon">error_outline</mat-icon>
      {{ 'curricula.list.no_permission_label' | translate }}
    </div>
  </ng-template>
</div>
