$light-blue-50: #b9c9e1;
$light-blue-100: #8ea9d2;
$light-blue-200: #5f87c2;
$light-blue-300: #2d64b3;
$light-blue-400: #0f4c9f;
$light-blue-500: #073c88;
$light-blue-600: #05316f;
$light-blue-700: #042755;
$light-blue-800: #031d3c;
$light-blue-900: #021123;

$dark-blue-50: #4d6d8f;
$dark-blue-100: #1b425f;
$dark-blue-200: #183c57;
$dark-blue-300: #15374e;
$dark-blue-400: #123245;
$dark-blue-500: #0e2d3b;
$dark-blue-600: #0b2933;
$dark-blue-700: #08242a;
$dark-blue-800: #062022;
$dark-blue-900: #031115;
