$light-crimson-50: #fce8e8;
$light-crimson-100: #f9c8c8;
$light-crimson-200: #f49a9a;
$light-crimson-300: #ef6b6b;
$light-crimson-400: #e74c4c;
$light-crimson-500: #d64545;
$light-crimson-600: #c0392b;
$light-crimson-700: #a93226;
$light-crimson-800: #922b21;
$light-crimson-900: #7b241c;

$dark-crimson-50: #dd5c5c;
$dark-crimson-100: #c0392b;
$dark-crimson-200: #a93226;
$dark-crimson-300: #922b21;
$dark-crimson-400: #7b241c;
$dark-crimson-500: #6c1d16;
$dark-crimson-600: #5e1712;
$dark-crimson-700: #4f1210;
$dark-crimson-800: #400d0e;
$dark-crimson-900: #2e0706;
