$light-gold-50: #fefaf1;
$light-gold-100: #fdf5d5;
$light-gold-200: #fceaa9;
$light-gold-300: #fbe27e;
$light-gold-400: #f9d64c;
$light-gold-500: #e0c362;
$light-gold-600: #c4a45c;
$light-gold-700: #a88356;
$light-gold-800: #8c634f;
$light-gold-900: #744e49;

$dark-gold-50: #fbdd7f;
$dark-gold-100: #e2be5c;
$dark-gold-200: #c89d39;
$dark-gold-300: #ad7c16;
$dark-gold-400: #925c00;
$dark-gold-500: #7c4c00;
$dark-gold-600: #664d00;
$dark-gold-700: #504e00;
$dark-gold-800: #3a2f00;
$dark-gold-900: #251000;
