$light-green-50: #f6faf5;
$light-green-100: #e9f3e5;
$light-green-200: #dbebd4;
$light-green-300: #cce3c2;
$light-green-400: #c1ddb5;
$light-green-500: #b6d7a8;
$light-green-600: #afd3a0;
$light-green-700: #a6cd97;
$light-green-800: #9ec78d;
$light-green-900: #8ebe7d;

$dark-green-50: #e5eae3;
$dark-green-100: #becab8;
$dark-green-200: #93a789;
$dark-green-300: #68835a;
$dark-green-400: #476936;
$dark-green-500: #274e13;
$dark-green-600: #234711;
$dark-green-700: #1d3d0e;
$dark-green-800: #17350b;
$dark-green-900: #0e2506;
