$light-purple-50: #ecdff0;
$light-purple-100: #e4cceb;
$light-purple-200: #e5c4ee;
$light-purple-300: #d4aae0;
$light-purple-400: #bc8dca;
$light-purple-500: #a967bc;
$light-purple-600: #a865bc;
$light-purple-700: #9a57ad;
$light-purple-800: #8e3ba6;
$light-purple-900: #8b28a8;

$dark-purple-50: #a897ad;
$dark-purple-100: #885d96;
$dark-purple-200: #7a3a8b;
$dark-purple-300: #6c2780;
$dark-purple-400: #58196b;
$dark-purple-500: #551666;
$dark-purple-600: #400e50;
$dark-purple-700: #350642;
$dark-purple-800: #390447;
$dark-purple-900: #3c024e;
