$light-shamrock-50: #f1faf5;
$light-shamrock-100: #d3f3e4;
$light-shamrock-200: #a8eecd;
$light-shamrock-300: #7ad9b4;
$light-shamrock-400: #4fcf9c;
$light-shamrock-500: #28b485;
$light-shamrock-600: #1e9d76;
$light-shamrock-700: #167e60;
$light-shamrock-800: #0d614b;
$light-shamrock-900: #044737;

$dark-shamrock-50: #b0d8b2;
$dark-shamrock-100: #8ac691;
$dark-shamrock-200: #63af6f;
$dark-shamrock-300: #3c9650;
$dark-shamrock-400: #237b3b;
$dark-shamrock-500: #0d6127;
$dark-shamrock-600: #0b5120;
$dark-shamrock-700: #093f19;
$dark-shamrock-800: #072d12;
$dark-shamrock-900: #051c0b;
