@use '@angular/material' as mat;
@use 'themes/specialization';
@use 'themes/user';

@include mat.core();

@include mat.all-component-themes(user.$light-theme);

.specialization-theme {
  @include mat.all-component-colors(specialization.$light-theme);
}

@import '../fonts/material-icons';
@import '../fonts/roboto';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.56);
}
