@use '@angular/material' as mat;
@use 'themes/default';
@use 'themes/specialization';
@use 'themes/discipline';
@use 'themes/user';

@include mat.core();

@include mat.all-component-themes(default.$default-theme);

.user-theme {
  @include mat.all-component-colors(user.$light-theme);
}

.specialization-theme {
  @include mat.all-component-colors(specialization.$light-theme);
}

.discipline-theme {
  @include mat.all-component-colors(discipline.$light-theme);
}

@import '../fonts/material-icons';
@import '../fonts/roboto';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.hightlight-text {
  background-color: yellow;
}

$scrollbar-width: 8px;

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar:horizontal {
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.56);
}
